@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family:outfit;
}
body{
  min-height:100vh;
  margin-left:-12px;
  
}
@media (max-width:900px){
  body{
    min-height:100vh;
    min-width:170vw;
  } 
}
a{
  text-decoration: none;
  color: inherit;
}
.app
{
  width: 97%;
  margin:auto;
  
 
}
@keyframes fadeIn {
  0%
  {
    opacity: 0;

  }
  100%{
    opacity: 1;
    
  }
  
}