.footer
{
    color: #d9d9d9;
    background-color: #0c0c0c;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top:80px;
    margin-top: 100px;
    margin-left:0px;
}
.footer-content-left .logo-img
{
    width: 200px;
    height: 60px;
    border: 5px groove brown;
    border-radius: 20px;
    padding: 2px;
    
}
.footer-content
{
    width: 100%;
    display: grid;
    grid-template-columns:2fr 1fr 1fr;
    gap: 80px;
    
}
.footer-content-left , .footer-content-right , .footer-content-center
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    color:white;

}
.footer-content-left li , .footer-content-right li , .footer-content-center li
{
    list-style: none;
    margin-bottom:10px;
    cursor: pointer;
    color:white;
    font-weight: 800;

}
.footer-content-right h2 , .footer-content-center h2
{
    color:orangered;

}
.footer-social-icons img
{
    width: 40px;
    margin-right: 15px;
    border: 3px solid orangered;
    border-radius: 50px;
    padding:4px;

}
footer hr
{
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    background-color:gray;
    border: none;
}
.footer-copyright{
    text-align: center;
    padding:2px;
    font-weight:800;
    color: orangered;
}
@media (max-width:750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin-bottom: 0px;
    }
    .footer-copyright{
        text-align: center;
    }
    


    
}