.add
{
    width: 80%;
    margin-left: max(5vw,25px);
    color:blue;
    font-size:15px;
    font-weight: 500;
   
}
.add form
{
    gap: 20px;
    margin-left: 50px;
    margin-top: 20px;
   
}
.add-img-upload img
{
    width: 150px;
    border: 2px dotted orangered;
    
   
}
.add-img-upload
{
    
    width: 150px;
    height: 140px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.add-product-name, .add-product-description
{
    width: max(40%,280px);

}
.add-product-name input,.add-product-description textarea
{
    padding: 10px;
    border: 1px solid blue;
    border-radius: 5px;

}
.page-title
{
    margin-top:30px;
    font-size: 30px;
    text-shadow: 5px 8px 3px rgb(204, 203, 203);
}
.add-category-price
{
    display: flex;
    gap: 30px;
}
.add-category-price select,.add-category-price input
{
    max-width: 120px;
    padding: 10px;

}
.add-category-price input
{
    border: 2px solid orangered;
    border-radius: 10px;
}
.add-category-price select
{
    background-color:#4343fc;
    color: white;
    border-radius: 10px;
    box-shadow:inset 0px 0px 0px 0px  rgb(190, 190, 190);
}
.add-btn
{
    max-width: 150px;
    border: none;
    padding: 10px;
    background-color:orangered;
    color: white;
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    position: relative;
    top:25px;
    box-shadow:inset 0px 0px 1px 0px  #d1d0d0;
}

@media (max-width:1000px) {
    
    .add form
    {
        
      position:relative;
      left: 20vw;
      position: fixed;
      top:7vh;
      
    }
    .page-title
    {
        margin-left: 23vw;
        margin-top: 10px;
        position: fixed;
        top:4vh;
        font-size: 40px;
    }
    
}
@media (max-width:480px) {
    
    .add form
    {
        
      position:relative;
      left: 10vw;
      top:15vh;
      height: auto;
      width: max(20vw,20px);
      
    }
    .page-title
    {
        margin-left: 25vw;
        margin-top: 10px;
        position: fixed;
        top: 70px;
    }
    .add-product-name input,.add-product-description textarea
    {
    width: 70vw;

    }
    .add-category-price select
     {
   
     }
    .add-btn
    {
        position: relative;
        left:-78vw;
        top: 30vw;
        
        padding: 10px 40px 10px ;
    
    }
    .add-category-price input
    {
    position: relative;
    top: 17px;
  
    }
   

    
}
