.navbar
{
    padding:20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    opacity:100%;
    position:sticky;
    top:0px;
    z-index: 1;
    height: 70px;
    border-bottom: 1px groove #c9c7c7;
   
}
.navbar .logo
{
    width: 170px;

}
.navbar-menu
{
    display: flex;
    list-style: none;
    gap: 30px;
    color:brown;
    font-weight:800;
}
.navbar-right
{
    display:flex;
    align-items: center;
    gap:50px;
    margin-right: 40px;

}

.navbar button
{
    background:#fcfafa;
    font-size:19px;
    color:black;
    border: 2px groove tomato;
    padding:10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight:400;
    transition: 0.3s;
}
.navbar button:hover
{
    background-color:brown;
    color:white;
    
    
}
.navbar .active
{
    padding-bottom:2px;
    border-bottom:2px solid #0414f8;
    border-radius:2px;
    border-width:2px;
    color:#fa8e67;
    
    
   
}
.navbar li
{
cursor: pointer;
color:#f54105;


}

.navbar-search-icon
{
    position: relative;
}
.navbar-search-icon .dot
{
    position: absolute;
   min-width: 10px;
   min-height: 10px;
   background-color:tomato;
   border-radius:5px;
   top: -8px;
   right: -8px;

}
.navbar-profile
{
    position: relative;

}
.nav-profile-dropdown
{
    position: absolute;
    display: none;
    right: -50px;
    z-index: 1;
  



}

.navbar-profile:hover .nav-profile-dropdown
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #080808;
    padding: 20px 30px;
    border-radius: 5px;
   box-shadow:inset 0px 0px 15px 5px rgb(223, 222, 222);
    list-style: none;
    font-weight: 600;



}
.nav-profile-dropdown li
{
    display: flex;
    align-items: center;
    gap:10px;
    cursor:pointer;
}
.nav-profile-dropdown img
{
    width: 30px;
    
}
.nav-profile-dropdown li:hover
{
    color:tomato;

}


.navbar-right input
{
    position: relative;
    background-color:#f3f1f1;
    height:35px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    left:40px;
    border:0.5px solid orangered;
    cursor: pointer;
   

}
.navbar-right select
{
    cursor: pointer;
    border:none;
    background-color:brown;
    color: white;
    height:35px;
    width:60px
    
    
   
    
}

input::placeholder
{
    color:#2e2e2e;
    font-size: 15px;
    opacity:50px;
    text-align:left;
    padding:10px;
}
.navbar-right select option
{
    background-color:#c9c6c6;
}
@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size:17px;
    }
   .navbar-right
   {
    gap: 30px;
   }
   .navbar-right img{
    width: 22px;
   }
   .navbar-right button{
    padding: 8px 25px;
   }
}
@media (max-width:900px){
    
    
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size:16px;
    }
    
   .navbar-right
   {
    gap: 30px;
   }
   .navbar-right img{
    width: 20px;
   }
   .navbar-right button{
    padding: 8px 20px;
    font-size: 15px;
    margin-right:1%;
    width: 160px;
    height:40px;
   }
}
@media (max-width:750px){
   
    .navbar-menu{
       display: none;
      
    }
    .navbar
    {
        height:6rem;
        border-bottom: 3px solid orangered;
      
       
    }
   
    .navbar-right button{
        padding: 8px 20px;
        font-size: 15px;
        width: 90px;
        height:40px;
       }
       .navbar-right img
          {
        
            height: 50px;
            width: 50px;
            padding:2px;
          }

   
}
    
   
