.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
}

.explore-menu h1 {
    color: brown;
    font-weight: 500;
    border-bottom: 1px groove grey;
    text-shadow: 5px 5px 10px brown;

}

.explore-menu-text {
    max-width: 80%;
    color: #797777;
    font-weight: 400;
    height: 20px;
    margin-top: -16px;
    margin-bottom: 5px;
}

.explore-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 20px;
    overflow-x: scroll;

}

.explore-menu-list::-webkit-scrollbar {
    display: none;
}

.explore-menu-list-item img {
    width: 7.5vw;
    min-width: 80px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    border: 6px groove green;





}

.explore-menu-list-item img:hover {
    box-shadow: 0px 0px 10px 5px #a3a3a2;
    transition: 0.2s;
}

.explore-menu-list p {
    margin-top: 10px;
    color: tomato;
    font-size: max(1.4vw, 16px);
    cursor: pointer;
    font-weight: 600;


}

.explore-menu-list p:hover {
    color: green;
    transition: 0.5s;
    transform: scale(1.2);
}

.explore-menu hr {
    margin: 10px 0px;
    height: 1px;
    background-color: #e2e2e2;

}

.explore-menu-list-item .active {
    border: 5px groove orangered;
    padding: 2px;
}

@media (max-width:1050px) {

    .explore-menu-text {
        max-width: 100%;
        font-size: 14px;
    }

}

@media (max-width:900px) {
    .explore-menu h1 {
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .explore-menu hr .explore-menu h1 {
        margin-bottom: 10px;


    }
    .explore-menu-list-item
    {
        margin-top: 20px;
        margin-bottom: 0px;
    }

}